.button {
    background: #5978ad;
    box-shadow: 0 2px 4px rgba(89, 120, 173, 0.2), 0 0 2px rgba(89, 120, 173, 0.2);
    font: 600 normal 0.8125rem "Helvetica Neue", Arial;
    color: #f6f6f6;
    outline: none;
    border: none;
    padding: 0.9375rem 1.375rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s all;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background: #6587c1;
    }

    &--dark {
        background: #30404f;
        box-shadow: 0 2px 4px rgba(48, 64, 79, 0.2), 0 0 2px rgba(48, 64, 79, 0.2);
        &:hover {
            background: #2a3e55;
        }
    }

    &--inverted {
        background: #f6f6f6;
        color: #6587c1;
        &:hover {
            background: #eef0f1;
        }
    }

    &--green {
        background: #65a168;
        box-shadow: 0 2px 4px rgba(101, 161, 104, 0.2), 0 0 2px rgba(101, 161, 104, 0.2);
        &:hover {
            background: #59ad6f;
        }
    }

    &--red {
        background: #a16565;
        box-shadow: 0 2px 4px rgba(161, 101, 101, 0.2), 0 0 2px rgba(161, 101, 101, 0.2);
        &:hover {
            background: #ad5959;
        }
    }
}
