.button {
    background: #5978ad;
    box-shadow: 0 rem(2) rem(4) rgba(89, 120, 173, 0.2), 0 0 rem(2) rgba(89, 120, 173, 0.2);
    font: 600 normal 0.8125rem "Helvetica Neue", Arial;
    color: #f6f6f6;
    outline: none;
    border: none;
    padding: 0.9375rem 1.375rem;
    margin: .3rem 0 .3rem .3rem;
    letter-spacing: rem(3);
    text-transform: uppercase;
    text-decoration: none;
    transition: background .2s, box-shadow .2s, color .2s;
    display: inline-block;
    cursor: pointer;

    &:hover, &:focus {
        background: #6587c1;
    }

    &--dark {
        background: #30404f;
        box-shadow: 0 rem(2) rem(4) rgba(48, 64, 79, 0.2), 0 0 rem(2) rgba(48, 64, 79, 0.2);

        &:hover, &:focus {
            background: #38526f;
        }
    }

    &--inverted {
        background: #ffffff;
        color: #6587c1;

        &:hover, &:focus {
            background: #f9f9f9;
        }
    }

    &--green {
        background: #65a168;
        box-shadow: 0 rem(2) rem(4) rgba(101, 161, 104, 0.2), 0 0 rem(2) rgba(101, 161, 104, 0.2);

        &:hover, &:focus {
            background: #59ad6f;
        }
    }

    &--red {
        background: #a16565;
        box-shadow: 0 rem(2) rem(4) rgba(161, 101, 101, 0.2), 0 0 rem(2) rgba(161, 101, 101, 0.2);

        &:hover, &:focus {
            background: #ad6c6c;
        }
    }

    &--text {
        background: unset;
        color: #6587c1;
        box-shadow: unset;

        &:hover, &:focus {
            background: unset;
            box-shadow: unset;
            color: #789fe2;
        }
    }
}
