.card {
    background: #fdfdfd;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 rem(2) rem(4) rgba(50, 50, 93, 0.1), 0 0 rem(2) rgba(95, 151, 206, 0.1);
    margin-top: 1.5rem;

    &__title {
        margin-bottom: .2rem;
        border-bottom: rem(1.5) solid rgba(0, 0, 0, 0.05);
    }
}