input[type=text], input[type=email], input[type=password], textarea {
    background-color: #ffffff;
    padding: 8px 12px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: box-shadow 150ms ease;
    outline: none;
    font-size: .9rem;
    box-sizing: border-box;
    min-width: 212px;
    margin: .3rem 0;
    &:focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }
}

.form-row[ico] {
    position: relative;
    margin: .3rem 0;
    &:before {
        position: absolute;
        left: 10px;
        top: 10px;
        transition: 200ms ease-in-out color;
        color: rgba(0, 0, 0, 0.2);
    }
    input {
        padding-left: 2rem;
        margin: 0;
    }
    &:focus-within {
        &:before {
            color: rgba(0, 0, 0, 0.7);
        }

    }
}