input[type=text], input[type=email], input[type=password], textarea {
    background-color: #ffffff;
    padding: rem(13.5) rem(13);
    border: rem(1) solid transparent;
    box-shadow: 0 rem(1) rem(3) 0 #e6ebf1;
    transition: box-shadow 150ms ease, border-color 200ms ease;
    outline: none;
    font-size: .9rem;
    box-sizing: border-box;
    min-width: rem(212);
    margin: .3rem 0;
    &:focus {
        box-shadow: 0 rem(1) rem(3) 0 #cfd7df;
        border-color: #0080ff;
    }
}
textarea {
    display: block;
    max-width: rem(434);
    min-width: rem(434);
    min-height: rem(120);
}

.form-row[ico] {
    position: relative;
    margin: .3rem 0;
    display: inline-block;
    &:before {
        position: absolute;
        left: rem(10);
        line-height: rem(44);
        transition: 200ms ease-in-out color;
        color: rgba(0, 0, 0, 0.2);
    }
    input {
        padding-left: 2rem;
        margin: 0;
        width: 100%;
    }
    &:focus-within {
        &:before {
            color: rgba(0, 128, 255, 0.7);
        }

    }
}