.nav {
    padding: rem(16) 0;
    width: 100%;
    position: relative;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0 rem(1) rem(3) 0 #e6ebf1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &--sticky {
        position: sticky;
        top: .2rem;
        z-index: 2;
    }

    a, label {
        margin: 0 1rem;
        text-decoration: none;
        color: #263446;

        &:hover {
            color: #0080ff;
        }

        &.nav__logo {
            justify-self: flex-start;
            margin-right: auto;
            cursor: default;

            h1:not(.frmwrk) {
                font-size: 1.6em;
            }

            &:hover {
                color: unset;
            }
        }

        &:last-child {
            margin: 0 2rem 0 1rem;
        }
    }

    input[type=checkbox] {
        display: none;
    }

    @media screen and (max-width: rem(600)) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &--sticky {
            position: fixed;
        }

        padding: 0;

        a, label {
            padding: .8rem 0;
            width: 100%;
            text-align: center;
            border-bottom: rem(1.5) solid rgba(0, 0, 0, .05);

            &.nav__logo {
                margin-right: 1rem;
                justify-self: unset;
            }
        }

        a {
            display: none;
        }

        label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            padding: .8rem 1.2rem;

            &:before{
                position: relative;
                height:rem(2);
                width:rem(20);
                content: '';

                background: #333;
                box-shadow: 0 rem(-5) 0 0  #333, 0 rem(-10) 0 0 #333;
                margin-top: rem(10);
            }
        }

        input[type=checkbox]:checked ~ a {
            display: block;
        }

        input[type=checkbox] + label {
            cursor: pointer;
        }
    }
}