:root, body, html {
    font-family: Inter UI,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #F9FAFB;
    color: #263446;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0 0 .2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.frmwrk {
    text-transform: lowercase;
    overflow: hidden;
    height: 1.9rem;
    margin: 1rem 0;
    width: auto;
    color: #f6f6f6;
    display: inline-block;
    background: #263446;
    width: 117px;
}
.container {
    width: 950px;
    margin: 0 auto;
}
.button {
    background: #5978ad;
    box-shadow: 0 2px 4px rgba(89, 120, 173, 0.2), 0 0 2px rgba(89, 120, 173, 0.2);
    font: 600 normal 0.8125rem "Helvetica Neue", Arial;
    color: #f6f6f6;
    outline: none;
    border: none;
    padding: 0.9375rem 1.375rem;
    border-radius: 0.25rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s all;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background: #6587c1;
    }

    &--dark {
        background: #30404f;
        box-shadow: 0 2px 4px rgba(48, 64, 79, 0.2), 0 0 2px rgba(48, 64, 79, 0.2);
        &:hover {
            background: #2a3e55;
        }
    }

    &--inverted {
        background: #f6f6f6;
        color: #6587c1;
        &:hover {
            background: #eef0f1;
        }
    }

    &--green {
        background: #65a168;
        box-shadow: 0 2px 4px rgba(101, 161, 104, 0.2), 0 0 2px rgba(101, 161, 104, 0.2);
        &:hover {
            background: #59ad6f;
        }
    }

    &--red {
        background: #a16565;
        box-shadow: 0 2px 4px rgba(161, 101, 101, 0.2), 0 0 2px rgba(161, 101, 101, 0.2);
        &:hover {
            background: #ad5959;
        }
    }
}
.card {
    background: #ffffff;
    padding: 1.5rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1), 0 0 2px rgba(95, 151, 206, 0.1);
    margin-top: 1.5rem;
    &__title {
        margin-bottom: .2rem;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.05);
    }
}