@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

:root, body, html {
    font-family: Inter UI,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #f7f8f9;
    color: #263446;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0 0 .2rem;
    text-transform: uppercase;
    letter-spacing: rem(2);
}

.frmwrk {
    text-transform: lowercase;
    overflow: hidden;
    height: 1.9rem;
    margin: 1rem 0;
    width: auto;
    color: #f6f6f6;
    display: inline-block;
    background: #263446;
    width: rem(117);
}

.container {
    width: rem(950);
    margin: 0 auto;
}

@import "components/components";
@import "../lib/libs"